body {
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
    margin: 40px;
}

h1 {
    text-align: center;
}


h1, h2, h3 {
    font-family: 'Aldrich', sans-serif; 
    color: deeppink;
    text-shadow: 1px 1px 5px #c9c9c9;
}

/* Table */

td, th {
    padding: 12.5px;
}

thead, .col1 {
    background-color: #b7ebe8; 
}

.col1 {
    box-shadow: 0.5px 0px 0px 0px rgba(0,0,0,0.72);
}

thead {
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.72);
    font-size: 18px;
    line-height: 30px;
}

th, .example {
    font-family: 'Share Tech Mono', monospace;
    color: deeppink;   
}

table {
    border: 3px ;
    border-collapse: collapse;
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.72);
}

span {
    color: deeppink;
}

caption {
    font-style: italic;
    text-align: right;
    font-size: 12px;
}

.table1, .table2, .table3, .table4 {
    padding: 15px;
}

.tablecontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.smallercontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
  
    .tablecontainer {
      display: block;
    }
  
    .smallercontainer {
      display: block;
    }
  }

/* Hover effects*/

.lol:hover  {
    
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.72);
    background-color: #b7ebe8; 
}